    .container {
        position: absolute;
        left: 100px;
        top: 100px;
          
    }
    .chart {
        position: absolute;
        left: 300px;
        top: 110px;
    }

    h4.headertext {
    text-align: center;
    }

   .center1 {
    margin: 0;
    position: absolute;
    top: 90%;
    left: 20%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    }

    .center2 {
    margin: 0;
    position: absolute;
    top: 90%;
    left: 40%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    }

    .center3 {
    margin: 0;
    position: absolute;
    top: 90%;
    left: 60%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    }

    .center4 {
    margin: 0;
    position: absolute;
    top: 90%;
    left: 80%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    }

    .bt {
    background-color: #f6fff5;
    border: none;
    color: rgb(31, 28, 28);
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    }

    .bt-highlighted {
        background-color: #1f77b4;
        border: none;
        color: rgb(31, 28, 28);
        padding: 7px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        margin: 4px 2px;
        cursor: pointer;

    }